body{
  font-family: 'Noto Sans KR', sans-serif;
}
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
.full-width{
  width:100%;
}
.btn{
  width: 50%;
}
.col-xs-12{
  padding:0px 10px;
}
.t1{
  font-size: 25px;
  font-weight: 500;
  color:white;
  vertical-align: middle;
}
.t2{
  font-size: 20px;
  font-weight: 400;
  color:white;
  vertical-align: middle;
}
.t3{
  font-size: 25px;
  font-weight: 500;
  color:white;
  vertical-align: middle;
}
.center{
  text-align: center;
}
.top-down-padding{
  padding:10px 0;
}
.top-down-padding-30{
  padding:30px 0;
}
.top-down-padding-50{
  padding:50px 0;
}
.black{
  background: black;
}
.sky-blue{
  background: skyblue;
}
.side-padding-20{
  padding-left:20px;
  padding-right:20px;
}
.well{
  padding-bottom: 0;
}
.more{

}
.bootstrap-select{
  width:100% !important;
}
.no-side-padding{
  padding-left: 0;
  padding-right: 0;
}
.back-well{
  background: #ecf0f1;
}
.margin-bottom-10{
  margin-bottom:10px;
}
.grey{
  background:#D3D3D3;
}
.pink{
  background:pink;
}
.startBtn{
  width:50%;
  border-radius: 20px;
  background:white;
}
.submit_btn{
  text-align:center;
  padding: 20px 0;
  background: white;
  border-radius: 10px;
  margin-top:10px;
  border:2px solid skyblue;
  cursor:pointer;
}
.submit_btn>span{
  color:skyblue;
  font-size:20px;
  font-weight: 500;
}
.submit_btn:hover{
  background: skyblue;
}
.submit_btn:hover>span{
  color:white;
  font-size:20px;
  font-weight: 500;
}
a:hover{
  text-decoration: none;
}
