@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
body{
  font-family: 'Noto Sans KR', sans-serif;
}

.full-width{
  width:100%;
}
/*.btn{
width: 50%;
}*/
.col-xs-12{
  padding:0px 10px;
}
.t1{
  font-size: 26px;
  font-weight: 500;
  color:white;
  vertical-align: middle;
}
.t2{
  font-size: 23px;
  font-weight: 400;
  color:white;
  vertical-align: middle;
}
.t3{
  font-size: 25px;
  font-weight: 500;
  color:white;
  vertical-align: middle;
}
.center{
  text-align: center;
}
.thecenter{
  text-align:center;
  display:table;
}
.thecenter>span{
  display:table-cell;
  vertical-align:middle;
  color:white;
}
.thecenter>div{
  display:table-cell;
  vertical-align:middle;
  color:white;
}
/*폰트 사이즈*/
.extra-font{
  font-size: 30px;
  font-weight:500;
}
.big-font{
  font-size: 25px;
  font-weight:500;
}
.normal-font{
  font-size: 20px;
  font-weight:500;
}
.small-font{
  font-size: 16px;
  font-weight:500;
}
/*패딩*/
.top-down-padding{
  padding:10px 0;
}
.top-down-padding-30{
  padding:30px 0;
}
.top-down-padding-50{
  padding:50px 0;
}
.black{
  background: black;
}
.sky-blue{
  background: skyblue;
}
.side-padding-20{
  padding-left:20px;
  padding-right:20px;
}
.well{
  padding-bottom: 0;
}
.more{

}
.bootstrap-select{
  width:100% !important;
}
.no-side-padding{
  padding-left: 0;
  padding-right: 0;
}
.back-well{
  background: #ecf0f1;
}
.margin-bottom-10{
  margin-bottom:10px;
}
.grey{
  background:#D3D3D3;
}
.pink{
  background:pink;
}
.startBtn{
  width:50%;
  border-radius: 20px;
  background:white;
}
.submit_btn{
  text-align:center;
  padding: 20px 0;
  background: white;
  border-radius: 10px;
  margin-top:10px;
  border:2px solid skyblue;
  cursor:pointer;
}
.span-center{
  text-align: center;
}
.submit_btn>span{
  color:skyblue;
  font-size:20px;
  font-weight: 500;
}
.submit_btn:hover{
  background: skyblue;
}
.submit_btn:hover>span{
  color:white;
}
.submit_btn:visited{
  background: white;
}
.submit_btn:visited>span{
  color:skyblue;
}
.color-black{
  color:black;
}
a:hover{
  text-decoration: none;
}
.border-all{
  /*border:1px solid #D3D3D3;*/
}
pre{
  color:black;
  border:none;
}
.table{
  margin-top: 20px;

}
table{
  padding:0 20px;
}
.table-1{
  width:70%;
  padding-left: 20px !important;
}
.link-row{
  height:60px;
  background:#D3D3D3;
  padding: 10px;

}
.img{
  height:40px;
  margin: 0 auto;
}
.table-2{
  width:30%;
  padding-right: 20px !important;
  text-align: center;
}
.page-title{
  margin:20px 0px 10px;
}
td:nth-child(1){
  padding-left: 20px !important;
}
td:nth-child(2){
  text-align: right;
  padding-right: 20px !important;
}
a{
  text-decoration: none;
  cursor:pointer;
}
.loading{
  position: absolute;
  left:0;
  top:0;
  height:100%;
  width:100%;
  z-index:2;
}

.black-font-color
{
  color: #666666;
}

.bam-font-color
{
  color: #46292b;
}

.nav-font-color
{
  color: #c4c6ca;
}
.nav-font-size{
  font-size: 3px;
  margin-top: 2px;
}
.nav-font-valign{
  vertical-align: middle;
  line-height: 79px;
}

.bam-background
{
  background-color: #46292b !important;
}

.yellow-background
{
  background-color: #fcd90d;
}

.nav-bottom-border
{
  border-right: 1px solid #e5e5e5;
}

.center-align
{
  text-align: center;
}

.nav-bottom-5
{
  width: 19.5%;
  height: 100%;
  padding-top: 5px;
}

#nav-bottom
{
  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
  height: 50px;
  z-index:5;
  background: #FFFFFF;
}
#nav-bottom>ul>li{
  cursor:pointer;
}
#nav-top
{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 64px;
  z-index: 5;
}
.nav-pills
{
  height: 100%;
  border-top: 1px solid #e5e5e5;
}
#contents{
  bottom: 0;
  top: 164px;
  position: absolute;
  width: 100%;
}
#page_title{
  letter-spacing: 1px;
}
#home.btn-group{
  border-radius: 16px;
  overflow: hidden;
}
#home.btn-group>label{
  font-size: 12px;
}
#home.btn-group>.btn{
  padding: 7px 25px;
}
#home-top-button{
  margin: 10px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #46292b;
    border-color: #46292b;
  }
.btn-primary {
    color: #46292b;
    background-color: #ffffff;
    border-color: #46292b;
}
.card_holder{
  padding:0 2px;
}
.card{
  background-color: white;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,0.2);
  border-radius: 3px;
  padding:4px 8px;
}
div>span{
  color: #46292b;
}
.back_arrow{
  position: absolute;
    left: 15px;
    top: 26px;
    color: white;
    cursor:pointer;
}
.pointer{
  cursor: pointer;
}
.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
  border: none !important;
}
.circle{
  border-radius: 50%;
  /*width:90px;
  height:90px;*/

  width: 22vw;
  height: 22vw;
  border:1px solid #46292b;
  text-align: center;
  display: table;
}
.circle>div>span{
  font-size: 13px;
}

.scroll-wrapper {
  width: 100%; height: 100%;
   overflow:scroll !important; -webkit-overflow-scrolling:touch !important;
}
